header { 
    display: block;
    background: black;
}

.container{
    position: relative;
    overflow-wrap: break-word;
}

.panel {
  position: relative;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.80);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.80);
  }

  .panel-body {
  padding: 15px;
  overflow-wrap: break-word;
}
.numOfAnsw{
  position: absolute;
  right :10px;
  bottom:5px;

}

.img-responsive{
  max-width: auto;
  max-height: 70px;
}

.questionEditButtons{
  text-align: center;

}

.delete-answer-button{
  position: absolute;
  right :20px;
}


.post-editor-button{
  float: right;
  
}

.new-post-button{
  margin:20px;

}
.edit-question-button{
margin:20px;
}
.delete-question-button{
 margin:20px;
}
